@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


:root{
    --cyan: hsl(171, 66%, 44%);
    --lightblue: hsl(233, 100%, 69%);
    --darkblue: hsl(210, 10%, 33%);
    --lightgrayblue: hsl(201, 11%, 66%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-img{
    display: flex;
    justify-content: center;
}

.header-img img{
    margin-top: 5rem;
}

.header-text{
    text-align: center;
}

.header-text h1{
    margin-top: 30px;
    font-size: 33px;
    color: rgb(65, 65, 65);
}

.header-text p{
    margin-top: 10px;
    color: rgb(145, 144, 144);
    line-height: 20px;
}


.btn-set{
    margin-top: 40px;
}

.btn-set button{
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    transition: 1s;
    display: inline-block;
    border: none;
}

.btn-set button{
    transition: .5s;
}

.ios{
    background-color: var(--cyan);
}

.ios:hover{
    background-color: hsl(171, 66%, 54%);
}

.mac{
    background-color: var(--lightblue);
}

.mac:hover{
    background-color: hsl(233, 100%, 76%);
}

#content{
    margin: 100px 0;
}

.content{
    text-align: center;
}

.content h2{
    margin-bottom: 10px;
    color: rgb(65, 65, 65);
    font-size: 33px;
}

.content p{
    margin-bottom: 10px;
    color: rgb(145, 144, 144);
    font-size: 14px;
    line-height: 25px;
}


.second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-top: 60px;
}

.grid-1 img{
    margin-left: -30px;
    width: 100%;
}

.grid-2{
    margin-top: 50px;
}

.word{
    margin-top: 20px;
    margin-right: 1rem;
}

.word h2{
    font-size: 20px;
    margin-top: 10px;
}

.word p{
    line-height: 30px;
    color: rgb(145, 144, 144);
    margin-top: 10px;
}

#word-flow{
    margin: 70px 0;
}

.caps{
    text-align: center;
}

.caps h2{
    margin-bottom: 10px;
    color: rgb(65, 65, 65);
    font-size: 35px;
}

.caps p{
    color: rgb(145, 144, 144);
    line-height: 25px;
    margin: 10px 0;
}

.caps-image{
    text-align: center;
    margin-top: 50px;
}

.caps-2{
    text-align: center;
}

.caps-2 h2{
    margin: 10px 0;
    font-size: 34px;
    color: rgb(65, 65, 65);
}

.caps-2 p{
    color: rgb(145, 144, 144);
}

#next{
    margin-top: 20px;
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.first{
    text-align: center;
    margin: 20px 0px;
}

.first h2{
    color: rgb(65, 65, 65);
    margin: 20px 10px 0 0;
}

.first p{
    color: rgb(145, 144, 144);
    margin-top: 10px;
    line-height: 25px;
}

#before{
    margin-top: 3rem;
}

.social-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.social{
    text-align: center;
}
.clip{
text-align: center;
margin: 90px 0px 0px;
}

.clip h3 {
margin-bottom: 20px;
color: rgb(65, 65, 65);
font-size: 35px;
}

.clip p {
color: rgb(145, 144, 144);
line-height: 25px;
}


footer {
    margin: 70px 0px 0px;
    background: hsl(201, 11%, 94%);
    padding-top: 40px;
}

.wonf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
}

.image-wonf img {
    width: 10%;
    margin-left: 50px;
}

.dowen{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(90, 90, 90);
    cursor: pointer;
    transition: 1s;
    gap: 20px;
}

.dowen h4:hover{
    color: var(--cyan);
    transition: .5s;
}


.media {
    text-align: right;
    margin-right: 20px;
    letter-spacing: 5px;
    transition: 1s;
}

.media i {
    font-size: 20px;
}

.media i:hover {
    color: var(--cyan);
    transition: .5s;
    cursor: pointer;
    font-size: 20px;
}

/* responsive */

@media screen and (max-width: 1181px){
    .second{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 1139px){
    .second{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
    }

    .grid-1 img{
        margin-left: 0;
    }
}

@media screen and (max-width: 1068px) {
    .dowen{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        cursor: pointer;
        color: rgb(90, 90, 90);
    }

    .image-wonf img{
        width: 30%;
        margin-left: 50px;
    }

    .first p{
        color: rgb(145, 144, 144);
        margin-top: 10px;
        line-height: 25px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1016px) {
    .word h2{
        font-size: 30px;
        margin-top: 10px;
    }
}


@media screen and (max-width:930px) {
    .grid-4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .first p {
        color: rgb(145, 144, 144);
        margin-top: 10px;
        line-height: 25px;
        font-size: 17px;
    }
}

@media screen and (max-width:910px) {
    .grid-1 img {
        margin-left: 0px;
        width: 90%;
    }

    .caps-image img {
        text-align: center;
        margin-top: 50px;
        width: 90%;
    }
}

@media screen and (max-width:840px) {
    .social-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .social {
        text-align: center;
        margin: 20px 0px;
    }
}

@media screen and (max-width:780px) {
    header {
        background-image: url('images/bg-header-mobile.png');
    }

    .header-text h1 {
        margin-top: 30px;
        font-size: 37px;
        margin-bottom: 20px;
        text-align: center;
    }

    .btn-set button {
        display: block;
        margin: 30px auto;
        padding: 20px;
        width: 290px;
    }

    .content h2 {
        margin-bottom: 10px;
        font-size: 34px;
        color: rgb(54, 53, 53);
    }

    .content p {
        margin-bottom: 10px;
        color: rgb(145, 144, 144);
        line-height: 30px;
        padding: 20px;
    }

    .second {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        margin-top: 40px;
        text-align: center;
    }

    .grid-1 img {
        margin-left: 0px;
        width: 90%;
        text-align: center;
    }

    .word p {
        line-height: 30px;
        color: rgb(145, 144, 144);
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 50px;
    }

    .caps h3 {
        margin-bottom: 10px;
        font-size: 36px;
    }

    .caps p {
        line-height: 30px;
        margin: 10px 10px;
    }

    .caps-image img {
        width: 90%;
        margin-bottom: 60px;
    }

    .grid-4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .caps-2 h2 {
        margin: 10px 0px;
        color: rgb(65, 65, 65);
        font-size: 30px;
    }

    .caps-2 p {
        color: rgb(145, 144, 144);
        font-size: 18px;
        line-height: 28px;
    }

    .social-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .clip h3 {
        margin-bottom: 20px;
        color: rgb(65, 65, 65);
        font-size: xx-large;
    }

    .clip p {
        color: rgb(145, 144, 144);
        line-height: 25px;
        font-size: 17px;
        margin: 10px;
    }

    .wonf {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 20px;
        text-align: center;
    }

    .image-wonf img {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .dowen {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        transition: 1s;
        cursor: pointer;
    }

    .media {
        text-align: center;
        margin-right: 0px;
        margin-top: 40px;
        letter-spacing: 8px;
        transition: 1s;
        margin-bottom: 30px;
    }

    .media i {
        font-size: 30px;
    }

    .media i:hover{
        color: var(--cyan);
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}